$primary-color: #3432a8;
$secondary-color: #37eb34;
$third-color: #ebeb34;
$primary-border: #3432a833;
$primary-text-color: #000000;
$secondary-text-color: #FFFFFF;
$third-text-color: #5f5f5f;

$logo-text-color: #4A4A4A;

$bar-gradient-colors: #11998E, #38EF7D;
$bar-border: #11998E;
$bar-text-color: #FFFFFF;